# Webpage configuration for arun.chagantys
[paths]
# Describe where your incoming gitrepo is; You will upload files here.
incoming = <path>
# Describe where your actual static website is hosted.
outgoing =  <path>
# meta-path
meta = .sitegen
# Theme (used by pandoc)
theme =  theme.html
# Webpage root
urlroot = <path>
# Ignore copying to site
ignores = README.md, theme.html

# What does the home page contain
[root]
# Create indexes for these sections
sections = articles, blog, research, projects, links, about
homepage = home.html

# Each section can be also customised.

