# Webpage configuration for arun.chagantys

[paths]
# Describe where your incoming gitrepo is; You will upload files here.
incoming = "path-to-gitrepo"
# Describe where your actual static website is hosted.
outgoing = "path-to-webspace"
# Directories/files in the static website that symlinked in incoming
symlink = "css/ js/ images/ files/ theme.html"

# What does the home page contain
[root]
# These sections appear in the sidebar
sections = "articles, blog, research, projects, links, about"
homepage = "home.html"
# TODO: Secret key?

# Each section can be also customised.

